html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

#mainContent {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 250px;
  cursor: pointer;
  border: 1px solid black;
  background: #aef3ff; }
  #mainContent div, #mainContent img, #mainContent svg, #mainContent Image {
    position: absolute; }

#faces {
  top: -1px;
  left: -1px; }
