@import '_settings';
@import '_config';
@import '_mixins';

body {
    margin: 0;
    padding: 0;
}

#mainContent {
    position: relative;
    overflow: hidden;
    width: $width;
    height: $height;
    cursor: pointer;
    border: 1px solid black;
    background: $backgroundColor ;
    div,img,svg,Image {
        position: absolute;
    }

}
#faces{
top:-1px;
left:-1px;
}